/*
 * Navbar
 */
/* Small Navigation */
.logo-small {
    float: right;
}
.title-bar {
    padding: 0 .5rem;
    height: 50px;
    background-color: rgba(55, 42, 69, 0.9);
}
.menu-icon, .title-bar-title {
    position: relative;
    top: 10px;
}

/* Medium-Up Navigation */
@media only screen and (min-width: 40rem) {
    .logo-wrapper {
        position: relative;
    }
    .logo-wrapper .logo {
        width: 180px;
        position: absolute;
        left: 50%;
        right: 50%;
        top: -6px;
        margin-left: -80px;
    }
    .top-bar-right {
        width: 50%;
        padding-left: 86px;
    }
    .top-bar-right ul {
        float: left;
    }
    .top-bar-left {
        width: 50%;
        padding-right: 86px;
    }
    .top-bar-left ul {
        float: right;
    }
} /* End Navbar */

#splash {
    height: 100vh;
    width:100.2vw;
    background-image: url('/images/splash.png');
    background-position:center;
    background-size:cover;
    margin-left:-1.1vw;
}

#how-it-works {
    background-color:#F0F0F7;
    width:100.2vw;
    height:100vh;
    margin-left:-1.1vw;
    margin-top:-2vh;
}

@media screen
   and (min-width:768px)
   and (max-width:1440px) {
  #splash {
   height:110vh;
  }
}

@media screen
  and (min-width:320px)
  and (max-width:420px) {
    #splash {
      background-position:28em;
    }

    #iphone {
      margin-bottom:4em;
    }
  }

#how-it-works .step {
  background:none;
  border:none;
  font-size:1.5em;
}

#how-it-works .step img {
    margin-bottom:1em;
    max-height:30vh;
    min-height:30vh;
}

#services {
    background-color:#F0F0F7;
    /*
    width:100.2vw;
    height:100vh;
    */
    margin-left:-1.1vw;
    margin-top:-2vh;
}

#services .step {
    background:none;
    border:none;
    font-size:2em;
}

#services .step img {
    margin-bottom:1em;
    max-height:30vh;
    min-height:30vh;
}

#services .title {
    font-weight: bold;
}

#services .description {
    font-size: 0.7em;
}

#prices {
  background-image: url('/images/prices.png');
  width:100.2vw;
  height:100vh;
  margin-left:-1.1vw;
  margin-top:-2vh;
}

@media screen
  and (min-width:320px)
  and (max-width:650px) {
    #how-it-works hr:after {
      font-size:2.75em;
    }

    /*
    #how-it-works {
      height:170vh;
    }

    #services {
      height:260vh;
    }

    #prices {
      height:160vh;
    }
    */
  }

/*
@media screen
  and (min-width:650px) {
    #how-it-works {
      height:70vh;
    }

    #prices {
      height:80vh;
    }
  }
*/

#prices .step {
  background:none;
  border-color:white;
  border-width:3px;
  font-size:2em;
  color:white;
  /* Make box smaller */
  height: 6.5em;
  width:7em;
  /* And center it */
  margin-left:auto;
  margin-right:auto;
}

/*
@media screen
  and (min-width:650px)
  and (max-width:815px) {
    #services {
      height:120vh;
    }
  }
*/

@media screen
  and (min-width:650px)
  and (max-width:910px) {
    #prices .step {
      border:none;
      margin-left:-1em;
    }
  }

#prices .step .concept {
  margin-bottom:-10px;
  font-family:Lato, sans-serif;
  font-weight:300;
}

#prices .step .from {
  font-size:0.6em;
  font-family:Lato, sans-serif;
  font-weight: 300;
  margin-bottom:-20px; /* So the price looks closer to this textline */
}

#prices .step .symbol {
  font-size:0.6em;
  vertical-align: super;
}

#prices .step .amount {
  font-size:3em;
  font-family:Cookie, cursive;
}

#prices #description {
  color:white;
  font-size:1em;
  text-align:center;
}

#iphone {
  max-width:90vw;
  max-height:70vh;
  display:block;
}

.download {
  background:none;
  border-color:white;
  border-style:solid;
  border-width:2px;
  font-family: Lato, sans-serif;
  font-weight:300;
}

.download:hover {
    background-color:#7F3F98;
    border-color:#7F3F98;
}

.row {
    margin:0;
}

hr {
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
  margin-left:5vw;
  margin-right:5vw;
  display:block;
  font-family: Cookie, cursive;
  border-color:#7F3F98;
}

#how-it-works hr:after {
    content: "¿Cómo funciona?";
}

#services hr:after {
    content: "Servicios";
}

#prices hr:after {
  content: "Precios";
  /* Because here the background is a pattern */
  color: white;
  background: none;
}

hr:after {
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 5em;
  padding: 0 0.25em;
  background: #F0F0F7;
}

p {
  font-family: Lato, sans-serif;
  font-weight: 300;
}

.sticky {
    width: 100%;
}

.splash {
    margin-top: -94px;
}

.splash img {
    margin-top: 40px;
}

.top-bar-container {
    z-index: 1;
}

@media screen and (min-width: 1020px) {
    .top-bar {
        background-color: transparent;
    }

    .top-bar img {
        margin-top: 20px;
    }
}

@media screen and (min-width: 640px) and (max-width: 1019px) {
    .top-bar {
        background-color: rgba(55, 42, 69, 0.9);
    }
}

@media screen and (max-width: 639px) {
    .top-bar {
        background-color: rgba(55, 42, 69, 0.9);
    }

    .top-bar img {
        max-width: 30%;
    }
}

.top-bar ul {
    background-color: transparent;
}

.top-bar a {
    text-transform: uppercase;
    color: #FFF;
    margin: 20px 40px 20px 40px;
}
