/* Variables */
// Adjust width accordingly (use even #'s)
$logo-width: 118px;

// Reduce px value to increase space between logo and menu text
$logo-padding: $logo-width - 32px; 

// Leave alone
$logo-margin: - ($logo-width / 2);

/* Small Navigation */
.logo-small {
    float: right;
}

.title-bar {
    padding: 0 .5rem;
}

.menu-icon, .title-bar-title {
    position: relative;
    top: 10px;
}
