.hero
  background-image url(../images/splash.png)
  background-position top
  background-size: cover;
  margin 0
  padding 2rem 0

  &__iphone
    display block
    margin 0 auto
    width 500px

  &__box
    display block
    margin 0 auto
    padding 0
    text-align center

  &__download
    border 3px solid white
    color white
    display inline-block
    font-weight bold
    margin 0 auto
    padding 1rem
    text-align center
    text-decoration none
    transition all 0.25s ease

    &:hover
      background-color white
      color $primary-purple

  @media all and (max-width 500px)
    display block
    padding-top 0

    &__iphone
      margin 0 auto
      padding 0
      width 300px

  @media all and (min-width 501px) and (max-width 750px)
    display block
    height auto
    margin 0 auto
    padding 0 0 2rem 0
    width 100%

    &__container
      box-sizing border-box
      padding 2rem 0
      width 100%

  @media all and (min-width 751px) and (max-width 1200px)
    display block
    height auto
    margin 0 auto
    padding 2rem 0
    width 100%

    &__container
      box-sizing border-box
      padding 2rem 0
      width 100%
