.navigation
  align-content center
  align-items center
  display flex
  justify-content space-around
  margin 0 auto
  padding 0
  width 1200px

  &__image
    margin 0
    width 250px

  &__link
    border-bottom 2px solid transparent
    color white
    font-size 1.25rem
    margin 0
    text-decoration none
    text-transform uppercase

    &:nth-child(3):hover
      border-bottom 2px solid transparent

    &:nth-child(4)
    &:last-child
      margin-left 3rem

    &:hover
      border-bottom 2px solid white

  @media all and (max-width 500px)
    display block
    text-align center
    width 100%

    &__link
      display block
      font-size 1rem
      margin 0.5rem auto !important
      padding 0

      &:nth-child(3)
        font-size 0
        height 0
        margin 0 !important
        padding 0

    &__image
      display none
      font-size 0
      height 0
      margin 0
      padding 0

  @media all and (min-width 501px) and (max-width 1200px)
    display block
    text-align center
    margin 0 auto
    padding 0
    width 100%

    &__image
      height 50px
      width auto

    &__link
      margin 0 !important

  @media all and (min-width 501px) and (max-width 1200px)
    align-content center
    align-items center
    display flex

    &__link
      display block

    &__link:nth-child(4)
    &__link:last-child
      margin-left 1.1rem !important
