.navigation
  align-content center
  align-items center
  display flex
  justify-content space-around
  margin 0 auto
  padding 0
  width 1200px

  &__image
    margin 0
    width 250px

  &__link
    border-bottom 2px solid transparent
    color white
    font-size 1.25rem
    margin 0
    text-decoration none
    text-transform uppercase

    &:nth-child(3):hover
      border-bottom 2px solid transparent

    &:nth-child(4)
    &:last-child
      margin-left 3rem

    &:hover
      border-bottom 2px solid white

  @media all and (max-width 500px)
    display block
    margin 0
    padding 0
    width 100%

    &__link
      display none

    &__bar
      background-color rgb(40, 40, 40)
      display block
      overflow hidden

    &__hamburger
      background-color rgb(40, 40, 40)
      display inline-block
      float right
      padding 0.5rem
      transition all 0.25s ease

      &:hover
        background-color rgb(60, 60, 60)
        cursor pointer

      &Bar
        background-color white
        height 3px
        margin 5px
        width 25px

    &__mobile
      background-color rgb(40, 40, 40)
      display block
      color white
      list-style none
      margin 0
      padding 0
      transition all 0.25s ease
      
      &[data-active='false']
        display none

      &[data-active='true']
        display block

      &Item
        text-align center

      &Link
        color white
        display block
        padding 1rem 0
        text-decoration none
        transition all 0.25s ease
        width 100%
        
        &:hover
          background-color rgb(60, 60, 60)
          cursor pointer

  @media all and (min-width 501px) and (max-width 750px)
    display block
    margin 0
    padding 0
    width 100%

    &__bar
      background-color rgb(40, 40, 40)
      display block
      overflow hidden

    &__link
      display none
 
    &__hamburger
      background-color rgb(40, 40, 40)
      display inline-block
      float right
      padding 0.5rem
      transition all 0.25s ease

      &:hover
        background-color rgb(60, 60, 60)
        cursor pointer

      &Bar
        background-color white
        height 3px
        margin 5px
        width 25px

    &__mobile
      background-color rgb(40, 40, 40)
      display block
      color white
      list-style none
      margin 0
      padding 0
      transition all 0.25s ease
      
      &[data-active='false']
        display none

      &[data-active='true']
        display block

      &Item
        text-align center

      &Link
        color white
        display block
        padding 1rem 0
        text-decoration none
        transition all 0.25s ease
        width 100%
        
        &:hover
          background-color rgb(60, 60, 60)
          cursor pointer

  @media all and (min-width 751px) and (max-width 1200px)
    align-content center
    align-items center
    display flex
    margin 0 auto
    padding 0
    text-align center
    width 100%

    &__mobile
      display none

    &__image
      height 50px
      width auto

    &__link
      margin 0 !important

    &__link
      display block

    &__link:nth-child(4)
    &__link:last-child
      margin-left 1.1rem !important

  @media all and (min-width 1201px)
    &__mobile
      display none
