$primary-purple = #523D7B

body
  font-family 'Lato'
  font-size 16px
  margin 0
  padding 0

@require './components/hero'
@require './components/navigation'
@require './components/hiw'
@require './components/services'
@require './components/prices'
